<tr>
  <td><%= stock_sell.stock_purchase.stock.symbol %></td>
  <td><%= stock_sell.price %></td>
  <td><%= stock_sell.amount %></td>
  <td><%= stock_sell.total_sale_value %></td>
  <td><%= stock_sell.date %></td>
</tr>