<tr>
  <td><%= stock_transaction.stock.symbol %></td>
  <td><%= stock_transaction.user.name %></td>
  <td><%= stock_transaction.price %></td>
  <td><%= stock_transaction.type_of %></td>
  <td><%= stock_transaction.date %></td>
</tr>